{% extends "pages/base.html" %}


{% block title %}{{ page.title }} - {{ block.super }}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  {% if page and not page.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
  {% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
{% endblock %}


{% block content %}

  <h1>{{ page.heading }}</h1>
  {% if page.featured_content %}<div>{{ page.featured_content|safe }}</div>{% endif %}
  {% if page.content %}<div>{{ page.content|safe }}</div>{% endif %}

{% endblock %}
