{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}
{% if not page.is_indexable %}<meta name="robots" content="noindex" />{% endif %}
{% if page.meta_description %}<meta name="description" content="{{ page.meta_description }}" />{% endif %}
{% endblock %}

{% block content %}
  
  <h1>{{ page.heading }}</h1>
  <div>
    {{ page.content|safe }}
  </div>
  
  {% if page.call_to_actions %}
  <h2>Actions</h2>
  <ul>
    {% for cta in page.call_to_actions %}
    <li><a href="{{ cta.get_absolute_url }}">{{ cta }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if page.media.documents.all %}
  <h2>Documents</h2>
  <ul>
    {% for document in page.media.documents.all %}
      <li><a href="{{ document.get_absolute_url }}">{{ document }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if page.media.photos.all %}
  <h2>Photos</h2>
  <ul>
    {% for photo in page.media.photos.all %}
      <li><img src="{{ photo.get_display_url }}" /></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% if page.media.galleries.all %}
  <h2>Galleries</h2>
  <ul>
    {% for gallery in page.media.galleries.all %}
      <li><a href="{{ gallery.get_absolute_url }}">{% for photo in gallery.sample|slice:"1" %}<img src="{{ photo.get_thumbnail_url }}" />{% endfor %}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
{% endblock %}

